## ignore all files
*
## ignore all folders
!/**/
# include all *.c files in root and subfolders
!*.c
!*.h
!*.hex
!git_readme.txt
#exclude folders
/example/
/vs2017/
# include output/*.hex
#!sw/output/*.hex
# include .gitignore
!.gitignore
# include *.py in all folders(subfolders)
#!sw
#!/sw/*.c